

.animation1{
  animation:animate 2s linear infinite alternate;
  position: absolute;
}
.animation2{
  animation:animate2 2s linear infinite alternate;
}
.animation3{
  animation:animate3 2s linear infinite alternate;
}
@keyframes animate{
  0%{
    background-image: url("./assets/img3.webp");
    background-size: cover;
  }
  100%{
    background-image: url("./assets/img1.avif");
    background-size: cover;
  }
}

@keyframes animate2{
0%{
    background-image: url("./assets/img1.avif");
    background-size:cover;
  }
  100%{
    background-image: url("./assets/img3.webp");
    background-size: cover;
  }
}


@keyframes animate3{
  0%{
    background-image: url("./assets/img1.avif");
    background-size: cover;
    background-position: 0px;
  }
  100%{
    background-image: url("./assets/img3.webp");
    background-size: cover;
  }
}

.fontdesign{
  text-transform: capitalize;
}

.listSyle{
  list-style: "♛";
  list-style-position: inside;
}